<!DOCTYPE html>

<div class="container">
  <div class="section" style="width: 100%;">
    <ul class="fa-ul" style="top: 150px; position: absolute">
      <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>{{ site.university }}<br />{{ site.department }}<br />{{ site.address }}</li>
      <li><span class="fa-li"><i class="fas fa-door-open"></i></span>{{ site.office }}</li>
      <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span>{{ site.phone }}</li>
      <li><span class="fa-li"><i class="fas fa-envelope"></i></span><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><span class="fa-li"><i class="fas fa-globe"></i></span><a href="{{ site.url }}">{{ site.url | replace: "https://", "" | replace: "http://", "" }}</a></li>
    </ul>
  </div>
  <div class="section right" style="width: 100%;">
    <img class="avatar" src="assets/ema.png" alt="Edoardo Maria Acabbi" />
  </div>
</div>
