<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="vendor/css/all.css" />
<link rel="stylesheet" href="vendor/css/academicons.css" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/style.css" />
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="EjDn9NB75Ybc73Rp6H3LzGkSFajoB4_PGmSHZUPYT3o" />
{% include analytics.html %}
{% seo %}
