<!DOCTYPE html>
<header>
  <div class="pagebox">
    <div class="container">
      <div class="section left" style="width: 100%;">
        <a href="{{ site.url }}" id="titlebar">{{ site.first_name }}<span style="display: none;"> </span><b> {{ site.last_name }}</b></a>
      </div>
      <div class="section right" style="width: 100%; display: flex; justify-content: flex-end;">
        <a href="https://www.vwl.uni-mannheim.de/en/" id="extlink"><img src="assets/white_logo-universitaet-mannheim-en.png" alt="UC3M" height="75px" /></a>
      </div>
    </div>
  </div>
</header>

<!--background: #000e78;-->
